*.apk
*.ap_
*.aab
*.dex
*.class
*.iml
local.properties
.gradle/
build/
/app/build/
captures/
.externalNativeBuild/
.cxx/
*.log
*.hprof
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
*.pyc
__pycache__/
*.egg-info/
dist/
*.db
/node_modules/
