# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.log
.env

# Android
app/build/
local.properties
.idea/
.gradle/
.kotlin/

# Memory storage
ray/memory/storage/

# OS
.DS_Store
Thumbs.db
